html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  overflow: auto; /* Включаем прокрутку для браузера */
  font-family: 'Roboto', Arial, sans-serif; /* Используем Roboto как основной шрифт */
}

