# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=spa_comments
DB_URL=postgresql://postgres:password@postgres:5432/spa_comments

# Elasticsearch
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elasticpwd

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# JWT
JWT_SECRET=asdqwrewe4t34534tr

# Vite (для фронтенда)
VITE_API_URL=http://localhost:3001
VITE_WS_URL=ws://localhost:3001
VITE_SOCKET_URL=http://localhost:3001

RABBITMQ_QUEUE_MAX_LENGTH=5000
RABBITMQ_QUEUE_MAX_BYTES=50000000
RABBITMQ_MESSAGE_TTL=300000

# Superadmin creation для DEV
SUPERADMIN_EMAIL=dev@dev.pw
SUPERADMIN_USERNAME=DevAdmin
SUPERADMIN_PASSWORD=dev123456

# Опциональные настройки
FORCE_UPDATE=true
NODE_ENV=development
NODE_OPTIONS=--max-old-space-size=1024