.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-sizing: border-box;
  transition: width 0.3s ease; 
  position: relative; 
  overflow: hidden; 
}
.sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; 
  background: linear-gradient(to right, #fffb00,  #1890ff, #fffb00 ); 
}

.sidebar.collapsed {
  width: 60px; 
}

.sidebar-menu {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  padding: 0;
  border-inline-end: none !important; 
}
.sidebar-menu.ant-menu {

  text-align: center; 
}
.sidebar-menu .ant-menu-title-content {
  text-align: left;
  margin-left: 8px;
}
.sidebar-menu .ant-menu-item {
  justify-content: center; 

}
.sidebar-menu .ant-menu-item span {
  display: inline; 
}

.sidebar-menu .ant-menu-item .sidebar-icon {
  font-size: 20px; 
  margin: 0 auto; 
}
.sidebar-menu .ant-menu-item-selected {
  background: none !important; 
  font-weight: bold; 
}



@media (max-width: 768px) {
  .sidebar {
    width: 60px; 
  }

  .sidebar-menu .ant-menu-item span {
    display: none; 
  }

  .sidebar-menu .ant-menu-item {
    justify-content: center; 
    padding-left: 0 !important; 
    padding-right: 0 !important; 
  }
}