.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 16px;
  background-color: #fff;
  height: 100vh;
  box-sizing: border-box;
  transition: width 0.3s ease; 
}

.sidebar.collapsed {
  width: 60px; 
}

.sidebar-menu {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
  padding: 0;
  border-inline-end: none !important; 
}
.sidebar-menu.ant-menu {

  text-align: center; 
}
.sidebar-menu .ant-menu-title-content {
  text-align: left;
  margin-left: 8px;
}
.sidebar-menu .ant-menu-item {
  justify-content: center; 

}
.sidebar-menu .ant-menu-item span {
  display: inline; 
}

.sidebar-menu .ant-menu-item .sidebar-icon {
  font-size: 20px; 
  margin: 0 auto; 
}
.sidebar-menu .ant-menu-item-selected .ant-menu-title-content {
  position: relative; 
  font-weight: bold; 
}

.sidebar-menu .ant-menu-item-selected::before {
  content: '';
  position: absolute;
  bottom: -4px; 
  left: 50%; 
  transform: translateX(-50%);
  width: 50%; 
  height: 2px; 
  background-color: #1890ff; 
  border-radius: 1px; 
  transition: width 0.3s ease, background-color 0.3s ease; 
}


@media (max-width: 768px) {
  .sidebar {
    width: 60px; 
  }

  .sidebar-menu .ant-menu-item span {
    display: none; 
  }

  .sidebar-menu .ant-menu-item {
    justify-content: center; 
    padding-left: 0 !important; 
    padding-right: 0 !important; 
  }
}