.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding-top: 16px;
  background-color: #fff;
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
}

.sidebar-menu {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 8px;
  padding: 0;
}

.sidebar-icon.anticon {
  font-size: 18px !important; 
}


.sidebar-menu.ant-menu {
  border-inline-end: none !important; 
  box-shadow: none; 
}