.comments-page {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.comments-container {
  display: flex;
  flex-direction: column;
}


.divider {
  height: 1px;
  background-color: #e0e0e0;
}