@import '../base/variables';

.comment-item {
  display: flex;
  flex-direction: column;
  border: none;
  max-width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $color-border;
  position: relative;
  border-radius: 0;

}
.comment-layout {
  display: flex;
  align-items: stretch;
  padding-left: $spacing-large;
}
.comment-body {
  display: flex;
  flex-direction: column;
  .ant-typography, .ant-typography p {
    margin-bottom: $spacing-small;
  }
  &.collapsed {
    max-height: calc(1.5em * 5); 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
  }

  &.expanded {
    max-height: none; 
    -webkit-line-clamp: unset;
  }
  .ant-btn-link {
    padding: 0;
    font-size: $font-size-medium;
    color: $color-primary;
    padding-bottom: 14px;
    justify-content: flex-start;
    width: 15%;
    margin: 0;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.comment-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 $spacing-medium;
}

.comment-user-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: $spacing-small;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.comment-date {
  font-size: $font-size-small;
  color: $color-secondary;
}

.comment-separator {
  color: $color-secondary;
  font-size: $font-size-medium;
  line-height: 1;
}
.ant-card .ant-card-body {
  padding: 12px 12px 12px 0px;
}
.comment-image-container {
  display: flex;
  justify-content: flex-start;

  .ant-image {
    text-align: center;
    border-radius: $border-radius-medium;;
  }


}
.ant-image-img {
  max-width: 180px;
  max-height: 120px;
  border-radius: $border-radius-medium;;
  object-fit: contain;
  object-position: left;
  cursor: pointer;
  display: block;
}

.ant-image-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: $border-radius-medium;
}

.comment-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  line-height: 1.5;
  font-size: 15px;
}

.comment-text.expanded {
  display: block;
  -webkit-line-clamp: unset;
  max-height: none;
  overflow: visible;
}
.image-preview {
  margin-top: 0;
  text-align: start;
  margin-bottom: 16px;
  margin-left: 38px;
}

.image-preview .ant-image-img {
  max-width: 180px;
  max-height: 120px;
  border-radius: 8px;
  object-fit: contain;
  object-position: left;
  cursor: pointer;
  display: block;
}