@import '../base/variables';

.comment-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .footer-row {  
    display: flex;
    align-items: center;
    padding-top: 8px;
    border-bottom: none;
      .ant-btn {
      font-size: 13px;
      display: flex;
      align-items: center;
      background: none !important;
      border: none;
      box-shadow: none;
      line-height: 1;
      height: auto;
      transition: transform 0.2s ease, color 0.3s ease;

      &:hover .anticon {
        color: $color-primary;
        transform: scale(1.2);
      }
    }
  }
}


.footer-replies-row {
  display: flex;
  align-items: center;
  gap: $spacing-small;
  font-size: 14px;
}

.show-replay {
  width: 100%;
  display: block;
  background: none;
  border: none;
  color: #1677ff;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  font-size: 14px;
  padding-top: $spacing-medium;
}

.show-more-btn {
  width: 100%;
  display: block;
  background: none;
  border: none;
  color: #1677ff;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  padding-bottom: 4px;
  padding-top: 2px;
  &:hover, &:focus {
    background: none;
    color: #1677ff;
    box-shadow: none;
  }

}

.replies-border {
  width: 24px;
  border-left: 2px solid #e0e0e0;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: $spacing-medium;
}



.replies-list {
  border-left: 1px solid #e0e0e0; 
  margin-top: $spacing-medium;
  .comment-item {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 12px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.show-replies-btn,
.show-replies-btn.ant-btn,
.show-replies-btn.ant-btn-text {
  border-radius: 0 !important; 
  width: 100%;  
  background: none !important;
  box-shadow: none !important;
  margin: 0;
  color: #1677ff;
  text-align: left;
  font-size: 14px;
  padding: 8px 0 4px 0;
}

.show-all-replies-btn {
  width: 100%;
  display: block;
  background: none;
  border: none;
  color: #1677ff;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;

  &:hover, &:focus {
    background: none;
    color: #1677ff;
  }
}

.comment-footer .footer-row > *:first-child {
  margin-left: 0 !important;
  padding-left: 0 !important;

}
.comment-footer .footer-row {
  border-bottom: none;
}
