@import '../base/variables';

.who-am-i-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-large;
  
    .who-am-i-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $spacing-xlarge;
      width: 100%;
      text-align: center;
      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  
    .who-am-i-text {
      flex: 1;
      text-align: center;
      border-right: 1px solid #e0e0e0;
      h1 {
        font-size: $font-size-xxlarge2;
        margin-bottom: $spacing-medium;
      }
  
      p {
        color: $color-text-secondary;
      }
      @media  (max-width: $breakpoint-tablet) {
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: $spacing-xlarge;
        
      }
    }
    .save-button {
      background: linear-gradient(45deg, #00aaff, #5b09cd);
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      padding: 10px 20px;
      transition: background 0.3s ease, transform 0.2s ease;
      width: 95%;

    
      &:active {
        transform: scale(0.95);
      }
    }
    .saved-message {
      margin-top: 16px;
      color: green;
      font-size: 16px;
      text-align: center;
      font-weight: bold;
    }
    


    .ant-form-item {
      margin: $spacing-medium; 
    }

    .who-am-i-form-container {
      flex: 1;
      width: 100%;
  
      .who-am-i-form {
        display: flex;
        flex-direction: column;
        gap: $spacing-medium;
      }
    }
  }